<div class="git-wiki-tools">
    <span class="tools-element"><a target="_blank" href="https://prose.io/#{{site.github.repository_nwo}}/new/{{site.git_branch}}/{{ site.wiki_folder | default: 'wiki' }}">Add
            new</a></span>
    <span class="tools-element"><a target="_blank" href="https://prose.io/#{{site.github.repository_nwo}}/edit/{{site.git_branch}}/{{page.path}}">Edit</a></span>
    {% if site.blog_feature %}
    <span class="tools-element"><a target="_blank" href="https://prose.io/#{{site.github.repository_nwo}}/new/{{site.git_branch}}/_posts/">Add
            new post</a></span>
    {% endif %}
</div>
