{% if site.inc_before_tail %}
{% include {{ site.inc_before_tail }} %}
{% endif %}

<script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        if (document.location.pathname.search("wiki") != -1) {
        tocbot.init({
          // Where to render the table of contents.
          tocSelector: '#toc',
          // Where to grab the headings to build the table of contents.
          contentSelector: '#git-wiki-content',
          // Which headings to grab inside of the contentSelector element.
          headingSelector: 'h1, h2, h3, h4',
        });
        }
        $(document.body).redLinks();
    });
</script>

{% if site.inc_after_tail %}
{% include {{ site.inc_after_tail }} %}
{% endif %}
